{% extends "base.html" %}

{% block content %}

<h1>Aktuelli Deals</h1>

{% if query %}
<h3>Suech Parameter: {{ query }}</h3>
{% endif %}

<div class="table-responsive">
<table id="dtDeals" class="table table-sm" width="100%">    
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Thema</th>
            <th scope="col">Ahbieter</th>
            <th scope="col">Priis</th>
            <th scope="col">UVP</th>
            <th scope="col">Rabatt</th>
        </tr>
    </thead>
    <tbody>
        {% for deal in provider_deals %}
        <tr>
            <td>
                {% if deal['availability'] == 3 %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="14" height="14" style="color: #73c44d; fill: currentColor;">
                        <circle cx="8" cy="8" r="8"></circle>
                    </svg>
                {% elif deal['availability'] == 4 %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="14" height="14" style="color: #3495eb; fill: currentColor;">
                        <circle cx="8" cy="8" r="8"></circle>
                    </svg>
                {% elif deal['availability'] == 2 %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="14" height="14" style="color: #ffcc00; fill: currentColor;">
                        <circle cx="8" cy="8" r="8"></circle>
                    </svg>
                {% elif deal['availability'] == 1 %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="14" height="14" style="color: #ff3300; fill: currentColor;">
                        <circle cx="8" cy="8" r="8"></circle>
                    </svg>
                {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="14" height="14" style="color: #b3b3b3; fill: currentColor;">
                        <circle cx="8" cy="8" r="8"></circle>
                    </svg>
                {% endif %}
            </td>
            <td>
                {% if deal['i_have'] %}
                    <i class="fas fa-star"></i>
                {% elif deal['i_want'] %}
                    <i class="far fa-star"></i>
                {% endif %}
            </td>
            <td><i><a href="{{ url_for('set_information', set_number=deal['set_number']) }}">{{ deal['set_number'] }}</a></i></td>
            <td><i><a href="{{ deal['url'] }}">{{ '{} ...'.format(deal['name'][:30]) if deal['name']|length > 30 else deal['name'] }}</a></i> <sup><i class="fas fa-external-link-alt"></sup></td>
            <td><i><a href="{{ url_for('sets_by_theme', theme=deal['theme']) }}">{{ deal['theme'] }}</a></i> / <i><a href="{{ url_for('sets_by_theme', theme=deal['theme'], subtheme=deal['subtheme']) }}">{{ deal['subtheme'] }}</a></i></td>
            <td>{{ deal['provider'] }}</td>
            <td><b>{{ '%0.2f CHF'| format(deal['price']|float) }}</b></td>
            <td style="color: grey;">{{ '%0.2f CHF'| format(deal['ch_price']|float) if deal['ch_price'] else 'N/A' }}</td>
            <td><b>{{ '{}%'.format(deal['save_in_percentage_lp']|int) if deal['save_in_percentage_lp'] or deal['save_in_percentage_lp'] == 0 else 'N/A' }}</b></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<script>
    $(document).ready(function () {
        $('#dtDeals').DataTable({
            "order": [[ 8, "desc" ]],
            "paging": false,
            "searching": false
        });
        $('.dataTables_length').addClass('bs-select');
    });
</script>

{% endblock %}