{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% for info in set_information %}
                <h1>{{ info['set_number'] }} {{ info['name'] }}</h1>
                {% if info['i_have'] %}<button type="button" class="btn btn-success btn-sm">OWN</button>{% endif %}
                {% if info['i_want'] %}<button type="button" class="btn btn-info btn-sm">WANT</button>{% endif %}
                {% if info['is_eol'] %}<button type="button" class="btn btn-warning btn-sm">EOL</button>{% endif %}
                <p>
                    <a href="{{ url_for('sets_by_theme', theme=info['theme']) }}">{{ info['theme'] }}</a> >
                    <a href="{{ url_for('sets_by_theme', theme=info['theme'], subtheme=info['subtheme']) }}">{{ info['subtheme'] }}</a></p>
                <p>
                Das isch d Set nummere <b>{{ info['set_number'] }} {{ info['name'] }}</b>.
                Es isch im Joor <b>{{ info['year'] }}</b> veröffentlicht worde.
                {% if info['ch_price'] %}
                Das Set het e Unvrbindligi Priisempfehlig vo <b>{{ info['ch_price'] }} CHF</b>.
                {% else %}
                E UVP fuer das Set isch leider nit vrfiegbar.
                {% endif %}
                S beinhaltet <b>{{ info['pieces'] }}</b> Stei und
                <b>{{ info['minifigs'] if info['minifigs'] else 0 }}</b>
                Minifigure{{ ' , also hets e original {} CHF pro LEGO stei'.format((info['ch_price']/info['pieces'])|round(2)) if info['ch_price'] and info['pieces'] }}.
                {% if offers %}
                    S aktuell tiefschte Ahgebot liggt bi <b>{{ offers[0]['price'] }} CHF</b> und wird vo
                    <b>{{ offers[0]['provider'] }}</b> ahbotte, das entspricht
                    <b>{{ '{} Rappe'.format(((offers[0]['price']/info['pieces'])*100)|int) if offers[0]['price'] and info['pieces'] else 'N/A' }}</b>
                    pro LEGO Stei.
                    {% if info['ch_price'] %}
                    Du wirdsch <b>{{ (info['ch_price']-offers[0]['price'])|round(2) }} CHF</b> spaare, was umgraechnet
                    <b>{{ '{}%'.format(offers[0]['save_in_percentage_lp']|round(0)) }}</b> entspricht.
                    {% endif %}
                {% else %}
                    Das Set isch momentan nit ufem Maert.
                {% endif %}
            </p>
            <img src="{{ info['image_url'] }}" style="width:66%;"></img><br>
            {% endfor %}
            <img >
        </div>
        <div class="col-md-4">
            <h2>Priis Alarm</h2>
            <form class="text-center border border-light p-5" id="price_alarm">
                e-Mail Adraesse: <input type="email" name="email" class="form-control mb-4" placeholder="E-mail">
                Wunschpriis: <input type="number" name="price_treshold" class="form-control mb-4"
                    placeholder="Priis in CHF">
                <button class="btn btn-info btn-block my-4 red accent-4">Subscribe</button>
                <p id="price_alarm_result"></p>
            </form>
        </div>
    </div>
</div>

<h2>Informatione</h2>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Joor</th>
                <th scope="col">Thema</th>
                <th scope="col">Unterthema</th>
                <th scope="col">Stei</th>
                <th scope="col">Minifigure</th>
                <th scope="col">UVP</th>
                <th scope="col">Bricklink</th>
                <th scope="col">POV</th>
            </tr>
        </thead>
        <tbody>
            {% for info in set_information %}
            <tr>
                <td>{{ info['set_number'] }}</td>
                <td>{{ info['name'] }}</td>
                <td>{{ info['year'] }}</td>
                <td><i><a href="{{ url_for('sets_by_theme', theme=info['theme']) }}">{{ info['theme'] }}</a></i></td>
                <td><i><a href="{{ url_for('sets_by_theme', theme=info['theme'], subtheme=info['subtheme']) }}">{{ info['subtheme'] }}</a></i></td>
                <td>{{ info['pieces'] }}</td>
                <td>{{ info['minifigs'] }}</td>
                <td>
                    {% if info['ch_price'] %}
                        {{ '%0.2f'| format(info['ch_price']|float) }}<span style="font-size: 10px;"> CHF</span>
                    {% else %}
                        Unbekannt
                    {% endif %}
                </td>
                <td>
                    {% if info['qty_avg_price'] %}
                        {{ '%0.2f'| format(info['qty_avg_price']|float) }}<span style="font-size: 10px;"> CHF</span>
                    {% else %}
                        Unbekannt
                    {% endif %}
                </td>
                <td>
                    {% if info['last_6m_average'] %}
                        {{ '%0.2f'| format(info['last_6m_average']|float) }}<span style="font-size: 10px;"> CHF</span>
                    {% else %}
                        Unbekannt
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if offers %}
<h2>Aktuelli Ahgebot</h2>
<div class="table-responsive">
    <table id="dtDeals" class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Ahbieter</th>
                <th scope="col">Priis</th>
                <th scope="col">Aenderig</th>
                <th scope="col">UVP Rabatt</th>
                <th scope="col">BL Rabatt</th>
                <th scope="col">Scan Ziitpunggt</th>
            </tr>
        </thead>
        <tbody>
            {% for offer in offers %}
            <tr>
                <td>
                    {% if offer['availability'] == 3 %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="14" height="14" style="color: #73c44d; fill: currentColor;">
                        <circle cx="8" cy="8" r="8"></circle>
                    </svg>
                    {% elif offer['availability'] == 4 %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="14" height="14" style="color: #3495eb; fill: currentColor;">
                        <circle cx="8" cy="8" r="8"></circle>
                    </svg>
                    {% elif offer['availability'] == 2 %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="14" height="14" style="color: #ffcc00; fill: currentColor;">
                        <circle cx="8" cy="8" r="8"></circle>
                    </svg>
                    {% elif offer['availability'] == 1 %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="14" height="14" style="color: #ff3300; fill: currentColor;">
                        <circle cx="8" cy="8" r="8"></circle>
                    </svg>
                    {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="14" height="14" style="color: #b3b3b3; fill: currentColor;">
                        <circle cx="8" cy="8" r="8"></circle>
                    </svg>
                    {% endif %}
                </td>
                <td>{{ offer['set_number'] }}</td>
                <td>
                    <i>
                        <a href="{{ offer['url'] }}">{{ offer['name'] }}</a>
                    </i>
                    <sup>
                        <i class="fas fa-external-link-alt" style="font-size: 8px;"></i>
                    </sup>
                </td>
                <td><i><a href="{{ url_for('provider', provider=offer['provider']) }}">{{ offer['provider'] }}</a></i></td>
                <td><b>{{ '%0.2f'| format(offer['price']|float) }}</b> <span style="font-size: 10px;"> CHF</span></td>
                    <td>
                    {% if offer['price_change_l7d'] > 0 %}
                        <i style="color: #ff3300; fill: currentColor;"><i class="fas fa-arrow-up"></i> {{ offer['price_change_l7d'] }}<span style="font-size: 10px;"> CHF</span></i>
                    {% endif %}
                    {% if offer['price_change_l7d'] < 0 %}
                        <i style="color: #73c44d; fill: currentColor;"><i class="fas fa-arrow-down"></i> {{ offer['price_change_l7d'] }}<span style="font-size: 10px;"> CHF</span></i>
                    {% endif %}
                    </td>
                    <td>{{ '{}%'.format(offer['save_in_percentage_lp']|int) if offer['save_in_percentage_lp'] else '0%' }}</td>
                <td>{{ '{}%'.format(offer['save_in_percentage_bl']|int) if offer['save_in_percentage_bl'] else 'Bricklink Priis unbekannt' }}</td>
                <td class="scan_date">{{ offer['scan_date_p'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% if offers %}
<h2>Priisentwicklig</h2>
<form id="price_chart_request" action="">
    <button class="btn btn-info my-4 red accent-4" id="price_chart_btn">Chart ahfoordere</button>
    <p id="price_chart_info"></p>
    <div id="price_chart"></div>
</form>
{% endif %}

<h2>Waertentwicklig</h2>
<form id="bl_price_chart_request" action="">
    <button class="btn btn-info my-4 red accent-4" id="bl_price_chart_btn">Chart ahfoordere</button>
    <p id="bl_price_chart_info"></p>
    <div id="bl_price_chart"></div>
</form>

<script>
    $(".scan_date").each(function() {
        $(this).text(moment($(this).text()).fromNow());
    });
    $("#price_alarm").submit(function (event) {
        console.log("Called price_alarm ...")
        event.preventDefault();
        $("#price_alarm_result").text('Am usfiehre ...')
        var posting = $.post("/lego-priisvrgliich/subscribe/set/{{ set_number }}", $("#price_alarm").serialize());
        posting.done(function (data) {
            $("#price_alarm_result").empty().append('<span style="color: limegreen;"><i class="fas fa-check-circle"></i></span> Erledigt.')
        });
        posting.fail(function (data) {
            $("#price_alarm_result").empty().append('<span style="color: red;"><i class="fas fa-times-circle"></i></span> Oops. Oepis isch schiefgloffe.')
        });
    });
    $('#price_chart_request').submit(function(event) {
        console.log("Called price_chart_request ...")
        event.preventDefault();
        $("#price_chart").html('<i class="fas fa-spinner fa-spin"></i> Chart wird glade ...')
        var posting = $.get("/lego-priisvrgliich/price_chart/{{ set_number }}");
        posting.done(function (data) {
            $("#price_chart_btn").remove()
            $("#price_chart").html(data)
        });
        posting.fail(function (data) {
            $("#price_chart").empty().append('<span style="color: red;"><i class="fas fa-times-circle"></i></span> Oops. Oepis isch schiefgloffe.')
        });
    });
    $("#bl_price_chart_request").submit(function (event) {
        console.log("Called bl_price_chart_request ...")
        event.preventDefault();
        $("#bl_price_chart").html('<i class="fas fa-spinner fa-spin"></i> Chart wird glade ...')
        var posting = $.get("/lego-priisvrgliich/bl_price_chart/{{ set_number }}");
        posting.done(function (data) {
            $("#bl_price_chart_btn").remove()
            $("#bl_price_chart").html(data)
        });
        posting.fail(function (data) {
            $("#bl_price_chart").empty().append('<span style="color: red;"><i class="fas fa-times-circle"></i></span> Oops. Oepis isch schiefgloffe.')
        });
    });
    $(document).ready(function () {
        $('#dtDeals').DataTable({
            "paging": false,
            "searching": false
        });
        $('.dataTables_length').addClass('bs-select');
    });
</script>

{% endblock %}
