{% extends "base.html" %}

{% block content %}

<h1>{{ set_number }}</h1>

<h2>Information</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Year</th>
            <th scope="col">Theme</th>
            <th scope="col">Subtheme</th>
            <th scope="col">Pieces</th>
            <th scope="col">Minifigs</th>
            <th scope="col">List Price</th>
            <th scope="col">Bricklink</th>
        </tr>
    </thead>
    <tbody>
        {% for info in set_information %}
        <tr>
            <td>{{ info['set_number'] }}</td>
            <td>{{ info['name'] }}</td>
            <td>{{ info['year'] }}</td>
            <td>{{ info['theme'] }}</td>
            <td>{{ info['subtheme'] }}</td>
            <td>{{ info['pieces'] }}</td>
            <td>{{ info['minifigs'] }}</td>
            {% if info['ch_price'] %}
                <td>{{ info['ch_price'] }} CHF</td>
            {% else %}
                <td>NA</td>
            {% endif %}
            {% if info['difference'] %}
                <td>{{ info['qty_avg_price'] }} CHF ({{ info['difference']|round(1) }} %)</td>
            {% else %}
                <td>{{ info['qty_avg_price'] }} CHF</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Offers</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Provider</th>
            <th scope="col">URL</th>
            <th scope="col">Price</th>
            <th scope="col">List Price Save</th>
            <th scope="col">Bricklink Save</th>
            <th scope="col">ScanID</th>
        </tr>
    </thead>
    <tbody>
        {% for offer in offers %}
        <tr>
            <td>{{ offer['provider'] }}</td>
            <td><a href="{{ offer['url'] }}">Click here to go to the offer.</a></td>
            <td>{{ offer['price']|round(2) }} CHF</td>
            {% if offer['save_in_percentage_lp'] %}
                <td>{{ offer['save_in_percentage_lp']|round(1) }} %</td>
            {% else %}
                <td>NA</td>
            {% endif %}
            <td>{{ offer['save_in_percentage_bl']|round(1) }} %</td>
            <td>{{ offer['scan_id'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Price Charts</h2>
<h2>Alltime</h2>

{% include '_price_chart.html' %}

{% endblock %}