{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>{{ sets[0]['theme'] }}</h1>
            <p>Es sind momentan <b>{{ sets|length }} Sets</b> vom Themegebiet "{{ sets[0]['theme'] }}" ufem Maert.
                Historisch gseh choschtet e Stei in dere Setreihe circa <b>{{ cost_per_piece|round(2) }} CHF</b>. S
                thema "{{ sets[0]['theme'] }}" existiert sit em Joor <b>{{ birthyear }}</b>.</p>
        </div>
        <div class="col-md-4">
            <h2>Rabatt Alarm</h2>
            <form class="text-center border border-light p-5" id="price_alarm">
                e-Mail Adraesse: <input type="email" name="email" class="form-control mb-4" placeholder="E-mail">
                Rabatt: <input type="number" name="save_treshold" class="form-control mb-4"
                    placeholder="Rabatt in Prozaent">
                <button class="btn btn-info btn-block my-4 red accent-4">Subscribe</button>
                <p id="price_alarm_result"></p>
            </form>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-sm" width="100%">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Joor</th>
                <th scope="col">Unterthema</th>
                <th scope="col">Baustei</th>
                <th scope="col">Minifigs</th>
                <th scope="col">UVP</th>
            </tr>
        </thead>
        <tbody>
            {% for s in sets %}
            <tr>
                <td><a href="{{ url_for('set_information', set_number=s['set_number']) }}">{{ s['set_number'] }}</a>
                </td>
                <td>{{ s['name'] }}</td>
                <td>{{ s['year'] }}</td>
                <td>{{ s['subtheme'] }}</td>
                <td>{{ s['pieces'] }}</td>
                <td>{{ s['minifigs'] }}</td>
                <td>{{ '{} CHF'.format(s['ch_price']) if s['ch_price'] else 'N/A' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script type="text/javascript" src="/lego-priisvrgliich/static/js/jquery.min.js"></script>
<script>
    $("#price_alarm").submit(function (event) {
        event.preventDefault();
        $("#price_alarm_result").text('Am usfiehre ...')
        var posting = $.post("/lego-priisvrgliich/subscribe/theme/{{ sets[0]['theme'] }}", $("#price_alarm").serialize());
        posting.done(function (data) {
            $("#price_alarm_result").empty().append('<span style="color: limegreen;"><i class="fas fa-check-circle"></i></span> Erledigt.')
        });
        posting.fail(function (data) {
            $("#price_alarm_result").empty().append('<span style="color: red;"><i class="fas fa-times-circle"></i></span> Oops. Oepis isch schiefgloffe.')
        });
    });
</script>

{% endblock %}