{% extends "base.html" %}

{% block content %}

<h1>{{ sets[0]['theme'] }}</h1>

<div class="table-responsive">
<table class="table table-sm" width="100%">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Joor</th>
            <th scope="col">Unterthema</th>
            <th scope="col">Baustei</th>
            <th scope="col">Minifigs</th>
            <th scope="col">UVP</th>
        </tr>
    </thead>
    <tbody>
        {% for s in sets %}
        <tr>
            <td><a href="{{ url_for('set_information', set_number=s['set_number']) }}">{{ s['set_number'] }}</a></td>
            <td>{{ s['name'] }}</td>
            <td>{{ s['year'] }}</td>
            <td>{{ s['subtheme'] }}</td>
            <td>{{ s['pieces'] }}</td>
            <td>{{ s['minifigs'] }}</td>
            <td>{{ '{} CHF'.format(s['ch_price']) if s['ch_price'] else 'N/A' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}